@import "tailwindcss";

@layer base {
  html, body {
    background-color: #050505;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
  }
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}
